<html>
  <head>
    <title>NodeSchool.io Offline</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header">
      <a id="logo" href="/" title="Nodeschool.io Home">
          <img width="300" src="nodeschool-straight.png">
      </a>
      <p class="tagline">
        1. Get Connected
      </p>
      <h2>
      wifi: {{wifi_ssid}}<br>
      pw: {{wifi_pw}}
      </h2><br/>

      <p class="tagline">
        2. Open this webpage
      </p>
      <h2><a href="http://{{ip}}">http://{{ip}}</a></h2>

      <p class="tagline">
        3. Choose an adventure
      </p>
      <div class="content" id="irl">
        <ul>
          <li><a href="/learnyounode.zip">Learn You Node</a></li>
          <li><a href="/streamadventure.zip">Stream Adventure</a></li>
        </ul>
      </div>

      <p class="tagline">
        4. Read the instructions
      </p>
      <div class="content" id="irl">
        <a href="/instructions.txt">Instructions.txt</a>
      </div>

      <p class="tagline">
        Thanks to our sponsor(s)
      </p>
      <a href="http://strongloop.com" style="border-bottom: none;"><img src="http://media.marketwire.com/attachments/201402/228309_SL_Logo_Horizontal_RGB.jpg"></a>
    </div>
  </body>
</html>
