<html>
  <head>
    <title>NodeSchool.io Offline</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="header">
      <a id="logo" href="/" title="Nodeschool.io Home">
          <img width="300" src="nodeschool-straight.png">
      </a>
      <p class="tagline">
        1. Get Connected
      </p>
      <h2>
      wifi: {{wifi_ssid}}<br>
      pw: {{wifi_pw}}
      </h2><br/>

      <p class="tagline">
        2. Open this webpage
      </p>
      <h2><a href="http://{{local_ip}}:{{port}}">http://{{local_ip}}:{{port}}</a></h2>

      <p class="tagline">
        3. Install Node
      </p>
      <div class="content" id="irl">
        <ul>
          <li><a href="/node-v0.10.36-x86.msi">Windows</a> <a class="footnote" href="/InstallInstructions.txt">(Special Instructions)</a></li>
          <li><a href="/node-v0.10.36.pkg">Mac</a></li>
          <li><a href="http://nodejs.org/download/">It's complicated</a></li>
        </ul>
      </div>

      <p class="tagline">
        4. Choose an adventure
      </p>
      <div class="content" id="irl">
        <ul>
          {{#modules}}
          <li>`npm install -g {{.}}`</li>
          {{/modules}}
        </ul>
        <h2>how-to-npm special instruction: </h2>
        <h2>run `npm install -g npm` to get very latest npm</h2>
      </div>

      <p class="tagline">
        4alt. Congested Internet Alternative:
      </p>
      <div class="content" id="irl">
        Download zipped workshop (locally hosted):
        <ul>
          {{#modules}}
          <li><a href="/{{.}}.zip">{{.}}.zip</a></li>
          {{/modules}}
        </ul>
        Read these instructions:
        <ul>
          <li><a href="/RunningInstructions.txt">RunningInstructions.txt</a></li>
        </ul>
      </div>

      <p class="tagline">
        5. Start workshop
      </p>
      <div class="content" id="irl">
        <ul>
          <li>Type the workshop name at the command line</li>
          <li>You are ready when you see this:</li>
          <li><a href="/workshop-ready.png"><img width="300" src="workshop-ready.png"></a></li>
        </ul>
      </div>

      <p class="tagline">
        6. Sign in
      </p>
      <div class="content" id="irl">
        <a href="https://github.com/nodeschool/dallas#attendance">Attendance</a>
      </div>

      <p class="tagline">
        Thanks to our sponsor(s)
      </p>
      <a href="http://credera.com" style="border-bottom: none;"><img src="http://www.credera.com/Style%20Library/credera/img/credera-logo.png"></a>
    </div>
  </body>
</html>
